.account-welcome-msr {
				    background-image: url(img/bg-msr-unlogged.png);
				    background-repeat: no-repeat;
				    background-size: cover;
				    border-bottom: 4px solid #C2A661;
				}
				.button {
				    background: none;
				    border: 1px solid #00A862;
				    border-radius: 48px;
				    box-sizing: border-box;
				    color: #00A862;
				    display: inline-block;
				    font-weight: 500;
				    outline: none;
				    overflow: hidden;
				    padding: 6px 18px;
				    position: relative;
				    transition-duration: 0.1s;
				    transition-property: background,
				    border-color,
				    color;
				   }
				   .light {
					    color: rgba(0, 0, 0, 0.56);
					}
					p {
					    word-wrap: break-word;
					    word-break: normal;
					}
					p, pre {
					    margin: 0 0 24px;
					}
					.account-welcome-msr.hero .wrapper .image {
					    max-width: 100%;
					    margin-top: 24px;
					    margin-bottom: 0px;
					    position: relative;
					    width: 200px;
					}
					.flex1 {
					    flex: 1;
					}
					.account-welcome-msr.hero .wrapper .image img {
					    position: absolute;
					    width: 192px;
					    /*left: 50%;*/
					    left: 300%;
					    transform: translateX(-50%);
					    top: 50%;
					    /*margin-top: -50px;*/
					   margin-top: -76px;
					}
					
					img {
					    max-width: 100%;
					}
					img {
					    border: 0;
					}
					
					
					/*section2*/
					.join-form {
					    background-image: linear-gradient(-180deg, #FCFCFC 0%, #FFF 100%);
					    padding: 24px 0;
					}
					.join-form .form-field .field:nth-child(2) {
					    margin-bottom: 0px;
					}
					
					.field {
					    display: block;
					    margin-bottom: 18px;
					    padding-top: 25px;
					    position: relative;
					}
					input{
						margin: 0;
					    font: inherit;
					    color: inherit;
					}
					input[type=password], input[type=text]{
						background: none;
					    border: 0;
					    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
					    -ms-border-bottom: 1px solid #edebe9;
					    border-radius: 0;
					    box-sizing: border-box;
					    display: block;
					    padding: 4px 0;
					    transition-property: border;
					    transition-duration: 0.2s;
					    
					    position: relative;
					    font-family: inherit;
					    font-size: inherit;
					    font-weight: 700;
					    line-height: inherit;
					    width: 100%;
					    z-index: 500;
					}
					.field label{
						color: rgba(0, 0, 0, 0.38);
						/*display: none;*/
					}
					.link {
					    appearance: none;
					    background: transparent;
					    border: 0;
					    color: #00A862;
					    display: inline-block;
					    padding: 0;
					    right: 0px;
    					position: absolute;
					}
					a {
					    color: #00A862;
					}
					a {
					    cursor: pointer;
					    color: #0074D9;
					    text-decoration: none;
					}
					.join-form .login-form .actions {
					    float: left;
					    width: 100%;
					}
					
					.actions {
					    padding-top: 24px;
					    text-align: right;
					}
					.button[disabled=disabled], .button[disabled=true], .button[disabled], .button.disabled {
					    background: #f7f7f7;
					    border-color: #f7f7f7;
					    color: rgba(0, 0, 0, 0.38);
					    cursor: not-allowed;
					}
					.actions .button {
					    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.38);
					    margin-bottom: 4px;
					}
					.button.large {
					    font-weight: 700;
					    padding: 12px 24px;
					}