.wrapper {
				    padding-left: 24px;
				    padding-right: 24px;
				}
				.wrapper {
				    box-sizing: border-box;
				    margin-left: auto;
				    margin-right: auto;
				    max-width: 768px;
				    width: 100%;
				}
				#content {
				    left: auto;
				    margin-left: 30%;
				    padding-bottom: 24px;
				    padding-top: 24px;
				    width: 70%;
				}
				#content {
				    position: relative;
				    overflow: hidden;
				}
				.box > .header {
				    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
				}
				.box > .header, .box > .body, .box > .footer {
				    padding: 18px 24px;
				}
				.join-form {
					    background-image: linear-gradient(-180deg, #FCFCFC 0%, #FFF 100%);
					    padding: 24px 0;
					}
					.join-form .form-field .field:nth-child(2) {
					    margin-bottom: 0px;
					}
					
					.field {
					    display: block;
					    margin-bottom: 18px;
					    padding-top: 25px;
					    position: relative;
					}
					input{
						margin: 0;
					    font: inherit;
					    color: inherit;
					}
					input[type=password], input[type=text]{
						background: none;
					    border: 0;
					    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
					    -ms-border-bottom: 1px solid #edebe9;
					    border-radius: 0;
					    box-sizing: border-box;
					    display: block;
					    padding: 4px 0;
					    transition-property: border;
					    transition-duration: 0.2s;
					    
					    position: relative;
					    font-family: inherit;
					    font-size: inherit;
					    font-weight: 700;
					    line-height: inherit;
					    width: 100%;
					    z-index: 500;
					}
					.field label{
						color: rgba(0, 0, 0, 0.38);
						/*display: none;*/
					}
					#account-register .password-container #sign-up-what-is-this {
					    /*top: 26px;*/
					   	top: 244px;
					    font-size: 1.4rem;
					    position: absolute;
					    right: 0px;
					    z-index: 500;
					}
					.link {
					    appearance: none;
					    background: transparent;
					    border: 0;
					    color: #00A862;
					    display: inline-block;
					    padding: 0;
					}
					a {
					    color: #00A862;
					}
					a {
					    cursor: pointer;
					    color: #0074D9;
					    text-decoration: none;
					}
					    float: left;
					    width: 100%;
					}
					
					.actions .button {
					    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.38);
					    margin-bottom: 4px;
					}
					.button.large {
					    font-weight: 700;
					    padding: 12px 24px;
					    position: absolute;
    					right: 0px;
					}
					.button[disabled=disabled], .button[disabled=true], .button[disabled], .button.disabled {
					    background: #f7f7f7;
					    border-color: #f7f7f7;
					    color: rgba(0, 0, 0, 0.38);
					    cursor: not-allowed;
					}
					button[disabled], html input[disabled] {
					    cursor: default;
					}
					.button {
					    background: none;
					    border: 1px solid #00A862;
					    border-radius: 48px;
					    box-sizing: border-box;
					    color: #00A862;
					    display: inline-block;
					    font-weight: 500;
					    outline: none;
					    overflow: hidden;
					    padding: 6px 18px;
					    position: relative;
					    transition-duration: 0.1s;
					    transition-property: background, border-color, color;
					}
					button, html input[type="button"], input[type="reset"], input[type="submit"] {
					    -webkit-appearance: button;
					    cursor: pointer;
					}
					
					button {
					    overflow: visible;
					    align-items: flex-start;
    					text-rendering: auto;
    					text-align: center;
    					letter-spacing: normal;
    					word-spacing: normal;
    					color: inherit;
					    font: inherit;
					    margin: 0;
					    text-transform: none;
					}
					#account-register .register-box h2 span {
					    color: #000;
					}
					#account-register .register-box span {
					    color: rgba(0, 0, 0, 0.56);
					}